.center {
    display: flex;
    /* padding-left: 32px;
    padding-right: 32px; */
    align-items: center;
    flex-direction: column;
}
.login-form {
    width: 500px;
}
.sign-up-form {
    width: 500px;
    padding-bottom: 50px;
}
.link-padding {
    padding-left: 32px;
    padding-right: 32px;
}
.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #11e4d2, #91d4c7);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.headerImage {
    width: 100px;
    height: 100px;
}
.alignHeader {
    display: flex;
    gap: 32px;
    align-items: center;
    padding-left: 30vw;
}
/* For mobile phones */
@media (max-width: 850px) {
    .login-form {
        width: 80vw;
    }
    .sign-up-form {
        width: 80vw;
    }
}